#kutu{
    width: 600px;
    height: 40px;
    background-color: green;
    box-shadow: 2px 2px 3px 3px ;
}
#kutu:hover{
    width: 600px;
    height: 100px;
    background-color: violet;
    box-shadow: 2px 2px 3px 3px ;
    border-radius: 300px;
}
#resim1{
    width: 600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-image: url(/images/kus-renkli-gradyan-tasarim-vektoru_343694-2506.jpg);
}
#resim1:hover{
    width: 600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-image: url(/images/tektek.png);
    /* transition-duration: ease-in 2s; */
    transition: width   2px;
}
