.kutu{
    width: 250px;
    height: 150px;
    background-color: grey;
    margin-left: 50px;
    margin-top: 50px;
}
.menu{
    width: 700px;
    height: 40px;
    background-color: green;
    margin-left: 50px;
}
#anasayfa{
    width: 100px;
    height: 40px;
    background-color: purple;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    
}
.menu2{
    width: 100px;
    height: 40px;
    background-color: purple;
    margin-left: 25px;
    float: left;
}
#kutu{
    border: dashed 2px blue;
    width: 700px;
    height: 350px;
    background-color: blueviolet;
    margin-top: 20px;
    margin-left: 50px;
}