#yazı{
    width: 450px;
    height: 300px;
    border: solid 1px purple;
    margin: 50px;
    line-height: 50px;
    word-spacing: 30px;
    text-indent: 50px;
    text-transform: lowercase;

}
.yazısal{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 120px;
}
