body{
    background-color: lightblue;
}
/* #tablo{
    border: double 2px red;
    background-color: blue;
    color: white;
} */
#a{
    width: 250px;
    height: 100px;
    background-color: blueviolet;
    border: dotted 3px black;
    float: left ;
}
#b{
    width: 250px;
    height: 100px;
    background-color: brown;
    border: solid 3px black;
    float: left;
}